



/* Global*/
* {
  font-family: monospace;
}

body {
  background-color: #DFD796;
  height: 100vh;
  background: url('../../assets/images/background_lobby.svg');
  background-color:  #DFD796;
}
.navbar {
  background-color: #fff;
}


/*_______________________Waiting Room________________________________*/



/*LANDING PAGE------------------------------------------------- LANDING PAGE*/

.landing-page-container {
  background: url('../../assets/images/flappybird_fulmer.jpg');
  background-size: cover;
  height: 100vh;
  overflow:auto

}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: monospace;
}

#landing-container {
  margin-top: 50px;
}

.landing-action-button {
  background-color: #73BF2E;
  color: #fff;
}



/*END- LANDING PAGE-------------------------------------------------END LANDING PAGE*/


.signin-container {
  text-align: center;
}
.signin-submit-button {
  background-color: #73BF2E;
  color: #fff;
  margin-top: 50px;
}



.dashboard {
  text-align: center;
  margin-top: 50px;
}



.dashboard--matchmake {
  width: 18rem;
  margin:0 auto;
  box-shadow: 10px 10px #333;
  -webkit-transition: width 0.5s; /* Safari */
}

.dashboard--matchmake:hover {
    width: 300px;
    transition: width 0.5s;
    cursor: pointer;
  }

.dashboard--statistics {
  text-align: center;
  margin-top: 20px;
  border: 5px solid #000;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px #333;
  padding: 20px;
}


#dashboard--start_matchmake-button,#dashboard--change_name-button, #dashboard--leaderboard_button {
  background-color: #9DE759;
  border: 1px solid #000;
}

 #dashboard--leaderboard_button {
   margin-top: 20px;
 }


/*Leaderboard-----------------------------------------------------*/
.leaderboard {
  text-align: center;
}

.leaderboard h1 {
  color: #fff;
}

.leaderboard img {
  float: left;
}
.leaderboard--header {
  background-color:   #4EC0CA;
  border-top: 1px solid #000;
  padding-bottom: 1rem
}
#leaderboard--score-list {
  margin-top: 15vh;
}

#leaderboard--score-list p {
  margin-top: 1rem;
  float: right;
}

#leaderboard--search_button {
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

#leaderboard--search_input {
  margin-top: 2rem;
  font-size: 14px;
  background: none;
  color: #5a6674;
  text-indent: 20px;
  border: none;
  appearance: none;
  outline: none;
  max-width: 450px;
  width: 100%;
  height: 60px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);

  background: #fff;
  transition: all 0.3s ease;
}
/*Leaderboard END----------------------------------------------------- END*/
.lobby-dashboard-inner{

  margin-top: 12rem;
  border: 5px solid #9DE759;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.lobby {


}

.lobby--body {

}

.lobby--choose_bird img:first-child {
  margin-right: 20px;
}
.lobby--choose_bird img:last-child {
  margin-left: 20px;
}
.lobby--choose_bird {
  display: none;
}
/*Waiting room ---------------------------------------------*/
#lobby--message_board li {
  padding: 50px 50px;
  margin-top: 20px;
  background: #4EC0CA;
  list-style-type: none;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn-outline-secondary {
  background-color: #4EC0CA;
  color: #fff;
}

  #ready_to_play {
    background-color: #9DE759;
    display: none;
  }

.start {
  text-align: center;
  margin-bottom: 5rem;
}

/*Login form--------------------------------*/
.login--form-wrapper {
  padding-left: 20vw;
  padding-right: 20vw;

}

.signin-container {
  background-color: #fff;

  margin-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 5px;
}

.signin-submit-button {
  box-shadow: 10px 10px #CCCCCC;
}

.input-group-text {
  background-color: #4EC0CA;
  color: #fff;
  width: 120px;
  box-shadow: 10px 10px #CCCCCC;
}

.input-group {
    box-shadow: 10px 10px #CCCCCC;
}

@media only screen and (max-width: 600px)  {
  .login--form-wrapper {
    padding-left: 5vw;
    padding-right: 5vw;
  }

}
