<!DOCTYPE html>
<html lang="en">

<head>
  <title>Flappy Friends</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Tyler Hanson" />
  <meta name="description" content="play Flappy Friends a remake of popular game flappy bird using just html/css/js" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <!-- Open Graph tags -->
  <meta property="og:title" content="Flappy Friends" />
  <meta property="og:description" content="play Flappy fiends. a remake of popular game flappy bird using just html/css/js in real time" />
  <meta property="og:type" content="website" />

  <meta property="og:site_name" content="Flappy Friends" />

  <!-- Style sheets -->
  <link href="{{url_for('static',filename='css/reset.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/game.css')}}" rel="stylesheet">

</head>

<body>
  <div id="gamecontainer">
    <div id="gamescreen">
      <div id="sky" class="animated">
        <!-- Redirects to dashboard-->

        <a href="{{url_for('dashboard.dashboard', username=session['username'])}}" id="return-to-menu">Exit to Menu</a>

        <div id="flyarea">

          <div id="ceiling" class="animated"></div>

          <!-- This is the flying and pipe area container -->
          <div id="player" class="animated player"></div>
          <div id="player_2" class="animated player"></div>

          <div id="bigscore"></div>


          <div id="splash"></div>

          <div id="scoreboard">
            <div id="medal"></div>
            <div id="game_over">Game Over!</div>
            <div id="scoreboard_label_player1"></div>
            <div id="player1_score"></div>
            <div id="scoreboard_label_player2"></div>
            <div id="player2_score"></div>
            <div class="play-again">Play Again!</div>
            <div id="replay"><img src="{{url_for('static',filename='assets/replay.png')}}" alt="replay"></div>
          </div>

          <!-- Pipes go here! -->
        </div>
      </div>
      <div id="land" class="animated">
        <div id="debug"></div>
      </div>
    </div>
  </div>

  <div class="boundingbox" id="playerbox"></div>
  <div class="boundingbox" id="pipebox"></div>

  <script>
    const USERNAME = "{{session['username']}}"
    console.log(USERNAME)
  </script>
  <script src="{{url_for('static',filename='dist/game-bundle.js')}}"></script>

</body>

</html>