
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{url_for('static',filename='css/app/app.css')}}" rel="stylesheet">
    <title>Hello, world!</title>
    <script>
      //APP GLOBALS
      const USERNAME = "{{session['username']}}"
      console.log(USERNAME)
    </script>
  </head>
  <body>

    <div class="landing-page-container">
      <div class="container" id="landing-container">
        <div class="jumbotron">
          <h1 class="display-4">Flappy Friends</h1>
          <p class="lead">Will you survice?</p>
          <hr class="my-4">
          <p>A reccreation of "Flappy Bird", only it's multiplayer. Play in real time with your friends... or your enimies.</p>
          {% if session['username']%}
          <p class="lead">
            <a class="landing-action-button btn-lg" href="./dashboard/{{session['username']}}" role="button">Play Now!</a>
          </p>
          {% else %}
          <p class="lead">
            <a class="landing-action-button btn-lg" href="./lobby" role="button">Play Now!</a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
