<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="{{url_for('static',filename='css/app.css')}}" rel="stylesheet">
  <title>Flappy Friends</title>
  <script>
    //APP GLOBALS
    const USERNAME = "{{session['username']}}"
    console.log(USERNAME)
  </script>
</head>

<body>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="">
      {% if session['email'] %}
      {{session['username']}}
      {% endif %}
    </a>

    <div class="login-signout float-right">
      {% if session['email'] %}
      <a href="/users/logout">
        <button class="btn btn-primary" id="dashboard--start_matchmake-button">Logout</button>
      </a>
      {% else %}
      <a href="/users/login">
        <button class="btn btn-primary" id="dashboard--start_matchmake-button">Login</button>
      </a>
      {% endif %}
    </div>
  </nav>
  <div class="landing-page-container">
    <div class="container" id="landing-container">
      <div class="jumbotron">
        <h1 class="display-4">Login To Flappy Friends</h1>
        <p class="lead">Will you survive?</p>
        <hr class="my-4">
        <p>A reccreation of "Flappy Bird", only it's multiplayer. Play in real time with your friends... or your
          enimies.</p>
        {% if session['email']%}
        <p class="lead">
          <a class="landing-action-button btn-lg" href="./dashboard/{{session['username']}}" role="button">Play Now!</a>
        </p>
        {% else %}
        <p class="lead">
          <a class="landing-action-button btn-lg" href="./users/register" role="button">Play Now!</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>



</body>

</html>