<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="{{url_for('static',filename='css/app.css')}}" rel="stylesheet">
  <title>Flappy Friends</title>
  <script>
    //APP GLOBALS
    const USERNAME = "{{session['username']}}"
    console.log(USERNAME)
  </script>
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="">
      {% if session['email'] %}
      {{session['username']}}
      {% endif %}
    </a>

    <div class="login-signout float-right">
      {% if session['email'] %}
      <a href="/users/logout">
        <button class="btn btn-primary" id="dashboard--start_matchmake-button">Logout</button>
      </a>
      {% else %}
      <a href="/users/login">
        <button class="btn btn-primary" id="dashboard--start_matchmake-button">Login</button>
      </a>
      {% endif %}
    </div>
  </nav>

  <div class="container signin-container">
    <h1> <img src="{{url_for('static',filename='assets/yellowbird-select.png')}}" /> Flappy Friends <img src="{{url_for('static',filename='assets/redbird-select.png')}}" /></h1>
    <div class="login--form-wrapper">
      <form method="post">
        <div class="input-group input-group-lg" style="margin-top: 5rem">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Birdname</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="username">
        </div>
        <div class="input-group input-group-lg" style="margin-top: 5rem">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
          </div>
          <input type="email" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="email">
        </div>
        <div class="input-group input-group-lg" style="margin-top: 5rem">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
          </div>
          <input type="password" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="password">
        </div>
        <br>
        <br>
        {% if error_message %}
        <h2 style="color: red">{{error_message}}</h2>
        {% endif %}
        <button type="submit" class="signin-submit-button btn-lg">Play Now!</button>
      </form>
    </div>
  </div>



</body>

</html>